<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Directory Password Reset Confirmation</title>
</head>
<body>
	<h3>Hello {username}!</h3>
	<p>You have requested a reset of your Directory account password. If you are receiving this email in error we apologize.</p>
	<p>To reset your password (which we recommend you do whether you requested this or not), follow the link below:</p>
	<a href="{serverUrl}{resetPath}?activationCode={activationCode}">{serverUrl}{resetPath}?activationCode={activationCode}</a>
	<p>If you have any problems please contact <a href="">us</a></p>
</body>
</html>
