<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Directory Account Creation Confirmation</title>
</head>
<body>
	<h3>Hello {username}!</h3>
	<p>Recently you signed up for a Directory account. In order to complete your registration you will need to visit the following link:</p>
	<a href="{serverUrl}/directory/user/activate?activationCode={activationCode}">{serverUrl}/directory/user/activate?activationCode={activationCode}</a>
	<p>If you have any problems please contact <a href="">us</a></p>
	<p>We hope you enjoy SeeMyTablet!</p>
</body>
</html>