<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Directory Forgotten Username</title>
</head>
<body>
	<h3>Hello!</h3>
	<p>You have requested your username, presumably because you've forgotten it.</p>
	<p>Your username for the Directory is:</p>
	<p style="color:blue">{username}</p>
	<p>If you have any problems please contact <a href="">us</a></p>
</body>
</html>